---
layout: archive
---

<body>
Welcome.  Thank you for visiting my portfolio.  This site presents my Data Science projects, while highlighting my skills in data preparation, data wrangling, data storytelling, programming, and machine learning.
  It also demonstrates my ability to work with multiple domains.
  For more details on my experience and interests, visit my LinkedIn page.
  I think you'll find that I'm the unicorn you've been seeking.
  </body>

<br>
<br>
<br>
Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3382507">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3382507">Pixabay</a>
